@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  font-family: 'Itim', sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

header{
  padding: 14px 5% 5px 5%;
  position: fixed;
  width: 90%;
  text-align:center;
  height:20vh;
  background-color: white;
}

ul{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin:7px 0;
}

.logo{
  height:40%;
}

.icon{
  height:2em;
  width:2em;
}

svg:hover path {
  fill: gray;
  stroke: gray;
}

input{
  width: 80%;
  height:20px;
  border-radius:8px;
  background-color: #0E2137;
  color:#E0E0E0;
}

input::placeholder{
  color:#E0E0E0;
}