.cards,
.search-cards,
.our-cards {  
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex: 1;
  min-width: 25%;
  margin: 2%;
  background-color: #0E2137;
  position: relative;
  justify-self: center;
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card-footer {
  width: 100%;
  background-color: #EB2FA0;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 15%;
  min-height: 15%;
  display: flex;
  justify-content: center;
}

.card-footer p {
  font-size: calc(0.5rem + 1vw);
  align-self: center;
  text-align: center;
}

.card-detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-detail .card {
  min-width: 40%;
  max-width: 20%;
  background-color: #0E2137;
  position: relative;
  justify-self: center;
  margin-right: 10%;
}

.card-detail .card img {
  width: 100%;
  object-fit: cover;
}

.card-detail svg {
  width: 10%;
}