li.darkmode {
    padding-right: 10px;
}

label#darkmode {
    align-self: baseline;

    margin-bottom: 10px;
    cursor: pointer;
    width: 25px;
    height: 17px;
    background: rgba(128, 128, 128, 0.363);
    float: right;
    border-radius: 100px;
    position: relative;

    z-index: 4;
}

label#darkmode input {
    background: rgba(128, 128, 128, 0.712);
    position: relative; 
    cursor: pointer;
    opacity: 0.01;
    width: 25px;
    height: 17px;
    z-index: 3;
}

label#darkmode span::after{
    cursor: pointer;
    content: '';
    position: absolute;
    top:5px;
    right: 16px;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 90px;
    transition: .3s;
}

#darkmode > input[type=checkbox]:checked + span::after {
    right: 1px;
}

.darkmode-header {
    background-color: #0E2137;
}

.desktop .logo-desktop.darkmode img {
    display: inline;
}


.desktop .logo-desktop.light {
  display: none;
}

.desktop.darkmode{
    border-bottom: 2px solid #EB2FA0;
}

.search.darkmode {
  background-color: #E0E0E0;
}

svg.icon.search.darkmode path {
  fill: #E0E0E0;
  stroke: #E0E0E0;
}


svg.icon.heart.darkmode path {
  fill: #EB2FA0;
  stroke: #EB2FA0;
}

.wrapper.darkmode {
    background-color: #010C17;
}

.desktop-menu.darkmode {
  border: 2px solid #EB2FA0;
}