<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Div Popup</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <section class="pop">
        <h1>Titulo do filme</h1>
        <section class="cdescricao">
            <ul>
                <li class="halfline">
                    <p id="titulo">Título:</p>
                    <p class="vl" id="titulofilme">Título do filme</p>
                </li>
                <li class="halfline">
                    <p class="lbl">Gênero:</p>
                    <p class="vl" id="generofilme">Gênero do filme</p>
                </li>
                <li class="halfline">
                    <p class="lbl">Lançamento:</p>
                    <p class="vl" id="anofilme">1984</p>
                </li>
                <li class="halfline">
                    <p class="lbl">Diretor:</p> 
                    <p class="vl" id="diretorfilme">Nome do Diretor</p>
                </li>
                <div id="heart">
                    <ul>
                        <li class="lbl">Sinopse:</li>
                        <li>
                            <a href="#">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M30 53.375L26.375 50.075C13.5 38.4 5 30.7 5 21.25C5 13.55 11.05 7.5 18.75 7.5C23.1 7.5 27.275 9.525 30 12.725C32.725 9.525 36.9 7.5 41.25 7.5C48.95 7.5 55 13.55 55 21.25C55 30.7 46.5 38.4 33.625 50.1L30 53.375Z" fill="#0E2137" class="favourite"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <p id="resumofilme">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
            </ul>
        </section>
    </section>
    <script src="../scripts/popupscript.js"></script>
</body>
</html>